.traffic-light{
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 330px;
    padding: 10px;
}
.redlight {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}
.yellowlight {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}
.greenlight {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
}
.stick {
    width: 10px;
    height: 40px;
    background-color: black;
    margin-left: 55px;
}